//TEXT
$primary-dark-blue: rgb(11, 46, 90);
$light-yellow-lemon: #BADA55;
$grey-color: rgb(126, 126, 126);
$default-grey-color: #2D2D2D;

$white-color: #ffffff;
$text-blue: #002E5E;

$text-grey: #BCBCBC;
$text-medium-grey: #646464;
$dark-grey: #323232;


//BUTTON
$button-blue-cyan: #48C2CA;
$button-orage: #FAA61A;

//SHADOW EFFECT
$shadow-grey: #E6E6E6;
$bottom-line: #D8D8D8;
$sd-grey-light: #F5F5F5;

//BACKGROUND
$bg-dark-lighter: #F9F9F9;
$bg-orange: #FF7900;
